extends ../layouts/default
append vars
  - dtLyr.pageType = req.app.get('pageConstants').EVENT_PAGE.identifier
  - tripAd = true
block css
  style
    include ../../public/resources/css/static.css
block mainContent
  .row
    .content-wrapper
      .col-xs-12
        h1 Our Travel Memory Contest - Rules and Regulations
        p travel d'globe(or TDG) will pick the most "liked photo" on March 7th, 2016, will win prizes worth 2000 INR from travel d'globe.
        .card
          h3 HOW TO ENTER:
          p
            ol
              li Like our Facebook page to make yourself as an eligible contestant
              li Enter by posting a photo on travel d'globe's Facebook timeline&nbsp;
                a.link(target="_blank" href="https://www.facebook.com/traveldglobe") (https://www.facebook.com/traveldglobe)&nbsp;
                span of you, family, friends or pets in the travel destination listed on our website.&nbsp;
                a.link(target="_blank" href="http://www.traveldglobe.com/sitemap") (Listed destinations)&nbsp;
              li Tag the destination using #, for instance mention #Kasol, of your Kasol's picture.
          p Contest begins at noon IST on February 29, 2016. All entrants must have an active Facebook account. The competition will be closed at midnight IST on March 6, 2016. Limit of one photo per person per day. Anyone found to use multiple accounts to enter will be ineligible. Share any photo, however, if you choose to upload a photo with other people in it, it is your sole responsibility to obtain their permission. By posting a photo entry on travel d'globe's Facebook page, the entrant agrees that the photo entry was taken by and is exclusively owned by the participant and that he/she represents and warrants that their entry is his/her own original work.
        .card
          h3 PRIZE
          p
            ol
              li
                strong 1000 INR worth travel voucher -
                span It can be redeemed on any itinerary made by travel d'globe. This prize have no cash value and must be accepted as offered and cannot be exchanged.
              li
                strong Upto 1000 INR -
                span PayTM cash equal to the sum of the likes, comment and shares on midnight IST March 6, 2016 of the the winning photograph posted on our travel d'globe's Facebook page.
          p The prize will be sent to the winners via recorded delivery and signed receipt will be required. All decisions of the judging organization regarding this contest are final.

        .card
          h3 HOW TO WIN:
          p Most like photo posted by a user on travel d'globe's Facebook page will be selected as a winner on March 7, 2016 just after 12 noon IST, will win the travel d'globe's  Travel Memory Contest.
          p Chances of winning the prizes will be dependent upon the number of eligible entries received during the contest period. The winner of the prizes worth 2000 INR will be selected by Facebook users. The selected entrants will be notified via Facebook within 24 hours of the draw or counted votes.
          p If there is no response from the selected entrant within 36 hours of the draw, travel d'globe reserves the right to re-distribute the prize to the next selected entrant.

        h4 NO PURCHASE NECESSARY.
        p travel d'globe(the sponsor) and its agencies will not be responsible for or have any liability resulting from entries which are mutilated, delayed, lost, stolen or misdirected. While online access and a Facebook account must be used to enter the contest, many public libraries, retail businesses and others offer free access to computers and a number of Internet service providers and other companies offer free e-mail accounts.
        p This promotion is in no way sponsored, endorsed, or administered by, or associated with, Facebook. You understand that you are providing your information to travel d'globe and not to Facebook.
        p To enter “travel d'globe's Travel Memory Contest”, individuals will be required to use their Facebook account. If selected as a winner, the participant will be required to provide their name, email address and street address to deliver the prize. All information collected by travel d'globe (the sponsor) for this contest is protected against unauthorized access. The complete travel d'globe terms and policy is located here: http://www.traveldglobe.com/terms.

        p By entering the contest, all entrants agree to be bound by the rules of the contest. All decisions of travel d'globe (the sponsor) with respect to all aspects of this contest are final. All permanent legal residents of India are eligible to win, providing they are over the age of majority on December 31, 2015, and providing that they are not also employees of travel d'globe or family members with whom these employees are domiciled. Participants must have an active Facebook account to enter. travel d'globe (the sponsor) reserves the right to substitute another prize of equal or greater value if the current prize offered becomes unavailable for any reason. If for any reason in the opinion of travel d'globe (the sponsor), in its sole discretion,the contest is not capable of running as planned or if the administration, security, fairness, integrity or proper conduct of the contest is corrupted or adversely affected, including by reason of infection by computer virus, bugs, tampering, unauthorized intervention, fraud, technical failures or other causes beyond its control, travel d'globe (the sponsor) reserves the right to cancel, terminate, modify or suspend the contest including any method of entry.
        p Use of winner’s name, likeness, etc.
        p Except where prohibited by law, entry in the contest constitutes permission to use the winner’s name, Facebook name, likeness, persona, hometown, and/or prize information in all media now known or later devised throughout the universe in perpetuity for all purposes TDG deems appropriate – including, without limitation, for promotional and publicity purposes – without further permission or compensation. As a condition of being awarded any prize, except where prohibited by law, winners may(in TDG’s sole discretion) be required to execute a written consent, confirming Owner Direct’s right to use such winner’s name, Facebook name, likeness, persona, hometown, and/or prize information without further permission or compensation.
        h4 Affidavit and Release.
        p As a condition of being awarded any prize, the winner may (in TDG’s sole discretion) be required to execute and deliver to TDG a signed affidavit of eligibility, acceptance of these official rules, release of liability, and any other legal, regulatory, or tax-related documents required by TDG in its sole discretion.
        h4 General Conditions:
        p The winner’s name and photo entries may be posted on the www.traveldglobe.com website and shared on social media. A representative from TDG will email/purchase online prizes to be sent to the winners. Winners of the prizes will be responsible for all applicable taxes, license and registration fees. If the winner is found not to be eligible or not in compliance with these contest rules, it will result in disqualification. By accepting prizes, where permitted by law, winners grant to TDG, and those acting pursuant to TDG’s authority (and agree to confirm said grant in writing) the right to use and publish his/her name, portrait, picture, voice and likeness for advertising, trade and promotional purposes without additional consideration, worldwide, and on the World Wide Web, without notification, review or approval.
        p By participating, each participant releases and agrees to hold harmless TDG from any and all liability for any injury, loss or damage of any kind to person, including death, and property, arising in whole or in part, directly or indirectly, from acceptance, possession, use or misuse of the prize, or participation in any travel d'globe's  Travel Memory Contest related activity.
        h4 Limitations of Liability:
        p IN NO EVENT WILL TRAVEL D'GLOBE, OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, REPRESENTATIVES AND AGENTS, BE RESPONSIBLE OR LIABLE FOR ANY DAMAGES OR LOSSES OF ANY KIND, INCLUDING DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF ACCESS TO AND USE OF INTERNET SITE WWW.TRAVELDGLOBE.COM OR THE DOWNLOADING FROM AND/OR PRINTING MATERIAL DOWNLOADED FROM SAID SITE. WITHOUT LIMITING THE FOREGOING, EVERYTHING ON THIS SITE IS PROVIDED “AS IS” WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. SOME JURISDICTIONS MAY NOT ALLOW THE LIMITATIONS OR EXCLUSION OR LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES OR EXCLUSION OF IMPLIED WARRANTIES SO SOME OF THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU. CHECK YOUR LOCAL LAWS FOR ANY RESTRICTIONS OR LIMITATIONS REGARDING THESE LIMITATIONS OR EXCLUSIONS.
        h4 Choice of Law:
        p All issues and questions concerning the construction, validity, interpretation and enforceability of these rules of the contest, or the rights and obligations of the entrant and trave d'globe.
        p TDG (the sponsor) will not be responsible for incorrect information in comments, status updates, telephone, technical, network, online, electronic, computer hardware or software failures of any kind, misdirected, stolen, incomplete, garbled or delayed Internet/e-mail computer transmissions on account of technical problems or traffic congestion on the Internet or at any website, or any combination thereof, including any injury or damage to the participant’s or any other person’s computer relating to or resulting from participants or downloading any materials in this contest. Finally, TDG (the sponsor) reserves the right to modify contest rules without materially affecting the terms and conditions of the contest.
        p TDG reserves the right, at its sole discretion, to disqualify any individual who (i) tampers with the entry process or the operation of the contest or website; (ii) acts in violation of the rules of the contest; (iii) acts in violation of the terms of the website, or (iv) acts in any way that discredits or otherwise disrupts travel d'globe's Travel Memory Contest or TDG, including all of its participating entities.
        p Online entries will be deemed to have been submitted by the authorized account holder of the Facebook account at the time of entry. “Authorized account holder” is defined as the natural person who is assigned to the Facebook account and assigned to the associated e-mail address by an Internet access provider, online service provider or other organization (e.g. business, educational institution, etc.) that is responsible for assigning e-mail addresses for the domain associated with the submitted e-mail address. All entries become the property of travel d'globe (the sponsor). No correspondence will be entered into with any contestants except with the selected entrants. The contest is subject to all Federal, Provincial, State and Municipal regulations and is void where prohibited by law.
        h4 Contact information:
        div travel d'globe
        div New Delhi, India
        div hello@traveldglobe.com
            