footer.footer.row
	.content-wrapper
		h2.col-xs-12.text-center.v-space
			a.site-link(href="#{host}") Where to go
		.col-xs-12.text-center
			.social-links.v-space
				a.social-link(href='https://twitter.com/traveldglobe' title="Tweet to travel d'globe" target='_blank')
					mixin paintIcon('twitter')
				a.social-link(href='https://www.facebook.com/traveldglobe' title="Find travel d'globe on Facebook" target='_blank')
					mixin paintIcon('facebook',{size:{x:24,y:24}})
				a.social-link(href='https://instagram.com/traveldglobe' title="travel d'globe on Instagram" target='_blank')
					mixin paintIcon('instagram')


		.col-xs-12.text-center
			div.v-space
				a.site-link(href="#{host}/blog" title="Stories at travel d'globe" target='_blank') Blog
				a.site-link(href="#{host}/tour" title="Best tours at travel d'globe" target='_blank') Popular Tours
				a.site-link(href="#{host}/countries" title="Explore the next destination" target='_blank') Countries

			small.v-space All rights reserved &copy; 2017 travel d'globe


