ul.mobile-navigation
  li.menu-item
    a.nav-item(href="/about" title="About travel d'globe") About Us
  li.menu-item
    a.nav-item(href="/contact" title="Contact travel d'globe") Contact
  li.menu-item
    a.nav-item(href="/sitemap" title="Locations for your next travel") All locations
  li.menu-item
    a.nav-item(href="/tour" title="Popular tours") Popular Tours
  li.menu-item
    a.nav-item(href="/search?query=travel") Search Destinations
  li.menu-item
    a.nav-item(href="/auth/facebook") Login with Facebook