.tile-list.row
   .col-xs-12
      a.top-dest.mr.tr-homeDest(target="_blank" href="#{host}/destination/great-himalayan-national-park" title="Places to visit in Great Himalayan National Park")
         .img-cont
            img(src="http://res.cloudinary.com/del7capiy/image/upload/upload/w_640,h_480,fl_progressive,q_5/v1478549269/location/The_Great_Himalayan_National_Park_GHNP_Himachal_Pradesh_fegkkr.jpg" data-src="http://res.cloudinary.com/del7capiy/image/upload/v1478549269/location/The_Great_Himalayan_National_Park_GHNP_Himachal_Pradesh_fegkkr.jpg" alt="Photos of Great Himalayan National Park")
         .content
            h2.title Great Himalayan National Park
            .desc A Paradise Waiting To Be Explored
            div Top Picks: Tirthan River, Camping
   .col-xs-12
      a.top-dest.ml.tr-homeDest(target="_blank" href="#{host}/destination/lambasingi" title="Places to visit in Lambasingi")
         .img-cont
            img(src="http://res.cloudinary.com/del7capiy/image/upload/w_640,h_480,fl_progressive,q_50/v1469648669/location/Lambasingi_Andhra_Pradesh_byhqx8.jpg" data-src="http://res.cloudinary.com/del7capiy/image/upload/v1469648669/location/Lambasingi_Andhra_Pradesh_byhqx8.jpg" alt="Photos of Lambasingi")
         .content
            h2.title Lambasingi
            .desc Kashmir of Andhra Pradesh
            div Top Picks: Bike Ride, Waterfalls, Night Camping
   .col-xs-12
      a.top-dest.mr.tr-homeDest(target="_blank" href="#{host}/destination/haflong" title="Places to visit in Haflong")
         .img-cont
            img(src="http://res.cloudinary.com/del7capiy/image/upload/w_640,h_480,fl_progressive,q_50/v1468612461/location/Haflong_Assam_v7ygfu.jpg" data-src="http://res.cloudinary.com/del7capiy/image/upload/v1468612461/location/Haflong_Assam_v7ygfu.jpg" alt="Photos of Haflong")
         .content
            h2.title Haflong
            .desc The Only Hill Station Of Assam
            div Top Picks: Haflong Lake, Hill
   .col-xs-12
      a.top-dest.ml.tr-homeDest(target="_blank" href="#{host}/destination/mcleod-ganj" title="Places to visit in Osian")
         .img-cont
            img(src="http://res.cloudinary.com/del7capiy/image/upload/w_640,h_480,fl_progressive,q_50/v1468609414/location/Osian_Rajasthan_kf4akn.jpg" data-src="http://res.cloudinary.com/del7capiy/image/upload/v1468609414/location/Osian_Rajasthan_kf4akn.jpg" alt="Photos of Osian")
         .content
            h2.title Osian
            .desc Khajuraho Of Rajasthan
            div Top Picks: Hindu and Jain Temples