ul.mobile-navigation
  li.menu-item
    a.nav-item(href="/about" title="About travel d'globe") About Us
  li.menu-item
    a.nav-item(href="/contact" title="Contact our team") Contact
  li.menu-item
    a.nav-item(href="/sitemap" title="Locations for your next travel") All locations
  li.menu-item
    a.nav-item(href="/trip" title="Upcoming adventure trips") Upcoming trips
  li.menu-item
    a.nav-item(href="/search?query=travel") Search Destinations
  li.menu-item
    a.nav-item(href="/auth/facebook") Login with Facebook